body
{
    margin:0px;
    padding:0px;
}
#container
{
    width:90%;
    margin:auto;
}
#header
{
    margin-bottom:10em;
    margin-top:1em;
    text-align: center;
    width:100%;
    height:10em;
    font-family: 'Gilda Display', serif;
}
#headernamn
{
    font-size: 5em;
}
#headertitel
{
    font-size: 1.3em; 
}
hr
{
    width:20em;
}
#contaktinfo
{
    width:100%;
    height:2em;
    margin-top: 5em;
    margin: auto;
    background-color: rgb(182, 180, 180);
    display: flex;
    flex-direction:row;
    justify-content:center;
    font-family: 'Trirong', serif;
}
#contaktinfo > div
{
    color:rgb(255, 255, 255);  
    height:3em;
}
#contaktinfo > div > p
{
    color:rgb(255, 255, 255);  
    font-size: 1em;
    margin-right: 4em;
    margin-top:0.2em;
}
#contaktinfo > div > i
{
    color:white;
    margin-right: 0.3em;
    margin-left: 3em;
}
#content
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50em;
    font-family: 'Trirong', serif;
    margin-bottom: 20em;
    margin-top:1em;
}
#leftbox
{
    width:70%;
    padding-left:0em;
    padding-right:3em;
}
#rightbox
{
    width:30%;
    display:flex;
    flex-direction: column;
    height:100%;
    text-align: center;
}
#rightbox > div > img
{
    width:100%;
    height:100%;
    border-radius: 30%;
    border:1px solid rgb(182, 180, 180);
    margin-bottom:1em;
    margin-top:0.7em;
}
#rightboxtext
{
    background-color: rgb(182, 180, 180);
    width:100%;
    height: 100%;
}
#footer
{
    width: 100%;
    text-align: center;
    font-family: 'Trirong', serif;
    background-color: rgb(182, 180, 180);
}
h1
{
    padding:0px;
    margin:0px;
}
h2
{
    padding:0px;
    margin:0px;
}
h3
{
    padding:0px;
    margin:0px;   
}
h4
{
    padding:0px;
    margin:0px;   
}
h5
{
    padding:0px;
    margin:0px;   
}

p
{
    padding:0px;
    margin:0px;
}
i
{
    padding:0px;
    margin:0px;
} 
#mobilbild
{
    display:none;
}
.mobilskugga
{
    background-color: white;
}
/*iphone*/

@media only screen and (max-width: 600px) {
.mobilskugga
{
    background-color: rgb(230, 225, 225);
}
body
{
    width:100%;
    padding:0px;
}
#container
{
    width:95%;
}
#header
{
    margin-bottom:10%;
    margin-top:1em;
    text-align: center;
    width:100%;
    height:10em;
    font-size: 30%;
}
#contaktinfo
{
    width:99%;
    padding:0px;
    margin-top:5px;
    margin-bottom: 50px;
    display: none;
}
#contaktinfo > div
{
    color:rgb(255, 255, 255);  
    height:3em;
}
#contaktinfo > div > p
{
    font-size: 60%;
}
#contaktinfo > div > i
{
    font-size: 100%;
}
#mobilbildiv
{
    width:100%;
    height:100px;
    margin-top:4em;
    margin-bottom:5em;
    text-align: center;
}
#mobilbild
{
    display: inline-block;
    width:100%;
    height:100%;
}
#mobilbild > img
{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 30px;
}
#content
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top:50px;
    margin-bottom:0px;
}
#leftbox
{
    text-align: center;
    width: 90%;
    font-size: 70%;
    margin:auto;
    padding:0px;
}
#rightbox
{
    display: none;
}
#rightbox > div > img
{
    width:100%;
    height:100%;
    border-radius: 30%;
    border:1px solid rgb(182, 180, 180);
    margin-bottom:1em;
    margin-top:0.7em;
}
#rightboxtext
{
    background-color: rgb(182, 180, 180);
    width:100%;
    height: 100%;
}
#footer
{
    width: 100%;
    font-size: 40%;
}
hr
{
    width:100%
}
}